.board {
  display: inline-grid;
  grid-template-columns: [left-edge] 1fr [line2] 1fr [line3] 1fr [right-edge];
  grid-template-rows: [top-edge] 1fr [line2] 1fr [line3] 1fr [bottom-edge];
  grid-template-areas:
    "villain-hand villain-hand villain-hand"
    "battleground battleground community-cards"
    "hero-hand hero-hand hero-hand";
  justify-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero-hand {
  grid-area: hero-hand;
  display: flex;
  font-size: 40px;
  filter: grayscale(1);
  animation-name: indicator-villain-turn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.hero-hand-green {
  grid-area: hero-hand;
  display: flex;
  font-size: 40px;
  animation-name: indicator-hero-turn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.card-wrapper {
  filter: drop-shadow(1vh -1vh 4px rgb(0, 0, 0, 0.4));
}
.hero-playing-card {
  max-height: 30vh;
  border-radius: 30px;
  padding: 10px;
}
.villain-hand {
  grid-area: villain-hand;
  display: flex;
  
}
.villain-playing-card {
  max-height: 30vh;
  border-radius: 30px;
  padding: 10px;
  filter: drop-shadow(40px -30px 4px rgb(0, 0, 0, 0.4));
}